/* Import Police */

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

/* En tête */
body {
    font-family: 'Kalam', cursive;
}

#title {
    font-family: 'Dancing Script', cursive;
    font-size: 150%;
    color: blue;
}






/* Media querry */